<div class="container">
  <div class="content">
    <div class="table-header">
      <h2>Students</h2>
      <button
        class="btn-primary"
        (click)="resetRuleHandler()"
        [disabled]="(studentsTableStoreService.loading$ | async) || !(studentsTableStoreService.rule$ | async)">
        Reset color rules
      </button>
    </div>

    <app-table
      *ngIf="!(studentsTableStoreService.loading$ | async) && (studentsTableStoreService.studentsTableData$ | async); else loading"
      [data]="studentsTableStoreService.studentsTableData$ | async"
      (contextmenu)="showContextMenuHandler($event)">
    </app-table>

    <ng-template #loading><span>Loading...</span></ng-template>
  </div>
</div>

<div *ngIf="showContextMenu">
  <app-context-menu
    [x]="contextMenuX"
    [y]="contextMenuY"
    menuItem="Color rule"
    (menuItemClicked)="openModalHandler()">
  </app-context-menu>
</div>

<app-modal *ngIf="showModal" (closeModal)="closeModalHandler()">
  <app-rule-form (closeModal)="closeModalHandler()"></app-rule-form>
</app-modal>
